.connect-section {
  background: #0d0d0d;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.section-title {
  font-size: 32px;
  background: linear-gradient(90deg, #ff8a00, #9c27b0);
  color: white;
  margin-bottom: 20px;
}

.connect-text {
  font-size: 16px;
  margin-bottom: 30px;
  color: #ccc;
}

.connect-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #ff8a00;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #9c27b0;
  box-shadow: 0 0 10px #ff8a00, 0 0 15px #9c27b0;
}


@media (max-width: 768px) {
  .connect-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 70%;
    text-align: center;
  }
}